{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Add Asset</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/add-asset.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/briefcase.png' %}">

     <!-- google-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    

 





</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container-fluid nav-bg">
            <a class="logo-text" href="#">AssetGuard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarsExample03">
                <div class="ms-auto d-flex align-items-start flex-column flex-sm-row">
                    
                    <div class="ms-2 d-flex align-items-center">
                        <a href="" class="btn icon-button me-2">
                            <img src="{% static 'images/question-mark.png' %}" alt="add item" class="nav-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-5 bg-light container-custom">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="id_ASSET_ID">Asset ID</label>
                {{ form.ASSET_ID }}
            </div>
            <div class="form-group">
                <label for="id_type_of_asset">Type of Asset</label>
                {{ form.type_of_asset }}
            </div>
            <div class="form-group" id="hardware_type_group" style="display: none;">
                <label for="id_hardware_type">Hardware Type</label>
                {{ form.hardware_type }}
            </div>
            <div class="form-group" id="detailed_hardware_fields" style="display: none;">
                <label for="id_processor">Processor</label>
                {{ form.processor }}
                <label for="id_ram">RAM</label>
                {{ form.ram }}
                <label for="id_rom">ROM</label>
                {{ form.rom }}
                <label for="id_graphics_card">Graphics Card</label>
                {{ form.graphics_card }}
                <label for="id_motherboard">Motherboard</label>
                {{ form.motherboard }}
                <label for="id_power_supply">Power Supply</label>
                {{ form.power_supply }}
            </div>
            <div class="form-group" id="brand_model_fields" style="display: none;">
                <label for="id_brand">Brand</label>
                {{ form.brand }}
                <label for="id_model">Model</label>
                {{ form.model }}
            </div>
            <div class="form-group" id="generic_brand_model_fields" style="display: none;">
                <label for="id_brand">Brand</label>
                {{ form.brand }}
                <label for="id_model">Model</label>
                {{ form.model }}
            </div>
            <div class="form-group">
                <label for="id_date_of_purchase">Date of Purchase</label>
                {{ form.date_of_purchase }}
            </div>
            <div class="form-group">
                <label for="id_stock_register_number">Stock Register Number</label>
                {{ form.stock_register_number }}
            </div>
            <div class="form-group">
                <label for="id_account_head">Account Head</label>
                {{ form.account_head }}
            </div>
            <div class="form-group">
                <label for="id_location">Location</label>
                {{ form.location }}
            </div>
            <button type="submit" class="btn btn-primary add-button">Add Asset</button>
        </form>
    </div>
      

   

    <br>
    <br>




    <script src="{% static 'js/add-asset-form.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>