{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>AMTS-MCA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/briefcase.png' %}">

    <!-- google-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container-fluid nav-bg">
            <a class="logo-text" href="#">AssetGuard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarsExample03">
                <div class="ms-auto d-flex align-items-start flex-column flex-sm-row">
                    <a href="{% url 'login' %}" class="btn login-button me-2">Login</a>
                    <a href="{% url 'signup' %}" class="btn signup-button">Sign-up</a>
                </div>
            </div>
        </div>
    </nav>

    
   <main>
        <div class="container hero-section">

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                  <img src="static/images/asset-hero-section.jpg" class="d-block mx-lg-auto img-fluid" loading="lazy">
                </div>
                <div class="col-lg-6">
                  <h1 class="display-5 fw-bold lh-1 mb-3">AssetGuard</h1>
                  <p class="lead">"Gain control over your assets. Our innovative asset management system keeps you informed and efficient, ensuring nothing slips through the cracks."<div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button type="button" class="btn  btn-lg px-4 me-md-2 my-2 login-button">Login</button>
                    <button type="button" class="btn  btn-lg px-4 my-2  signup-button">Signup</button>
                  </div>
                </div>
              </div>
        </div>
   </main>


   <div class="container mt-5">
    <div class="row">
        <!-- First Row of Cards -->
        <div class="col-md-4">
            <div class="card">
                <img src="static/images/card-gifs/card-asset-gif.gif" class="card-img-top" alt="Image 1">
                <div class="card-body">
                    
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="static/images/card-gifs/card-search-gif.gif" class="card-img-top" alt="Image 2">
                <div class="card-body">
                    
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="static/images/card-gifs/card-adduser-gif.gif" class="card-img-top" alt="Image 3">
                <div class="card-body">

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Second Row of Cards -->
        <div class="col-md-4">
            <div class="card">
                <img src="static/images/card-gifs/card-filter-gif.gif" class="card-img-top" alt="Image 4">
                <div class="card-body">
                
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="Image 5">
                <div class="card-body">
                    
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="Image 6">
                <div class="card-body">
                    
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                </div>
            </div>
        </div>
    </div>
   
   
   





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>