{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/briefcase.png' %}">

     <!-- google-fonts -->
    <!-- google-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container-fluid nav-bg">
            <a class="logo-text" href="#">AssetGuard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarsExample03">
                <div class="ms-auto d-flex align-items-start flex-column flex-sm-row">
                    <a href="{% url '' %}" class="btn login-button me-2">Home</a>
                    <a href="{% url 'login' %}" class="btn signup-button">Login</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container my-3 mt-3 mb-5 signup-box">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-md-center">
                <img src="{% static 'images/register.png' %}" alt="Image Description" class="img-fluid custom-img">
            </div>
            <div class="col-md-6">
                
                <form method="post" novalidate class="signup-form">
                    <h2 class="text-center mb-3">Create Account 🖊</h2>
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.username }}
                      
                    </div>
                    <div class="form-group mt-4">
                        {{ form.email }}
                       
                    </div>
                    <div class="form-group mt-4">
                        {{ form.password1 }}
                     
                    </div>
                    <div class="form-group mt-4">
                        {{ form.password2 }}
                       
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 mb-3">Sign Up</button>
    
                   
    
                    <!-- Google Sign-In Button -->
                    <a href="{% url 'google_login' %}" class="btn btn-danger" style="display: flex; align-items: center; justify-content: center;">
                        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" style="width: 20px; height: 20px; margin-right: 10px;">
                        Sign up with Google
                    </a>

                    <hr class="my-2 mb-3">

                    <div class="text-center mt-3">
                        <a href="{% url 'login' %}" style="color: blue; text-decoration: none;">Have an account? Login</a>
                    </div>


                </form>
            </div>
        </div>
    </div>

    <br>
    
    
    

   



    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>