{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Computer Hardware</title>    
    <link rel="stylesheet" type="text/css" href="{% static 'css/add-asset.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>


    <!-- Main Content -->
    <div class="container mt-5">
        <h2 class="mb-4 text-center">Update Computer Hardware</h2>
        <form method="POST" class="bg-light p-4 rounded shadow-sm">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Update and Log</button>
                <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
    <br>
    <br>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
