/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    /* background-image: url('/static/images/indexbg.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding-top: 5rem;
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;
    padding: 0;
}

.nav-bg {
    background: rgb(124,193,255);
    background: linear-gradient(90deg, rgba(124,193,255,1) 0%, rgba(22,246,255,1) 100%);
    padding: 0.5rem;
}

.navbar-toggler {
    background-image: url("/static/images/hamburger_menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.logo-text {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 700;
    color: black;
    margin-right: auto;
    text-decoration: none;
    color: inherit;
}

.logo-text:hover {
    color: inherit;
    text-decoration: none;
}

.login-button, .signup-button {
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin-right: 35px;
    transition: 0.5s;
    background: none;
    background-color: #478CCF;
    margin-bottom: 0.5rem;
}

.login-button:hover, .signup-button:hover {
    background-color: whitesmoke;
    color: black;
    border-color: blue;
}

/* Login Box Styles */
.login-box {
    background-color: #FFF8F3;
    border-radius: 8px;
    padding: 1rem; /* Adjusted to account for fixed navbar */
}

.custom-img {
    max-width: 100%;
    height: auto;
}

.login-form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.google-signin-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.signup-link {
    color: blue;
    text-decoration: none;
}

@media (max-width: 767.98px) {
    .login-box {
        padding: 1rem;
    }
    .custom-img {
        order: -1; /* Move image to top */
        margin-bottom: 1rem;
    }
    .login-form {
        max-width: 100%;
    }
}
