* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url('/static/images/indexbg.jpg'); */
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 56px; /* Ensure content is not hidden behind fixed navbar */
}

.navbar {
    margin: 0;
    padding: 0;
}

.nav-bg {
    background: rgb(124,193,255);
    background: linear-gradient(90deg, rgba(124,193,255,1) 0%, rgba(22,246,255,1) 100%);
    padding: 0.5rem;
    margin: 0;
}

.navbar-toggler {
    background-image: url("/static/images/hamburger_menu.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 40px; 
    height: 40px; 
}

.logo-text {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 700;
    color: black;
    margin-right: auto;
    text-decoration: none;
    color: inherit;
}

.logo-text:hover {
    color: inherit; /* Keep the same color on hover */
    text-decoration: none; /* Keep the underline removed on hover */
}

.login-button, .signup-button {
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin-right: 35px;
    transition: 0.5s;
    background: none;
    background-color: #478CCF;
    margin-bottom: 0.5rem;
}

.login-button:hover, .signup-button:hover {
    background-color: whitesmoke;
    color: black;
    border-color: blue;
}

.custom-img {
    width: 100%; /* Adjust the size as needed */
    height: auto;   /* Maintain aspect ratio */
}

.signup-box {
    background-color: #FFF8F3; /* Cream color */
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 56px; /* Offset to ensure it's below the fixed navbar */
}

.signup-form {
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
    max-width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.signup-form .form-group input {
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

.signup-form .btn {
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    width: 100%;
}

.signup-form .btn-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.signup-form .invalid-feedback {
    display: block;
}

/* Responsive design */
@media (max-width: 767px) {
    .signup-box {
        padding: 1rem;
    }
}
