*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}



body{
    background-image: url('/static/images/backgrounds/nav-option-bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
     
}

.navbar {
    margin: 0;
    padding: 0;
}

.nav-bg{
    background: rgb(124,193,255);
    background: linear-gradient(90deg, rgba(124,193,255,1) 0%, rgba(22,246,255,1) 100%);
    padding:0.5rem;
    margin:0px;
    
    
}
.navbar-toggler {
    background-image: url("/static/images/hamburger_menu.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 40px; 
    height: 40px; 
}


.logo-text{

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 700;
    color:black;
    margin-right: auto;
    text-decoration: none;
    color: inherit;

}

.logo-text:hover {
    color: inherit; /* Keep the same color on hover */
    text-decoration: none; /* Keep the underline removed on hover */
}



.navbar .icon-button {
    background: none;
    border: none;
    padding: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.navbar .icon-button .nav-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 20px;
    transition: transform 0.2s ease-in-out;
}

.navbar .icon-button:hover .nav-icon {
    transform: scale(1.2);

}

.navbar .form-control {
    max-width: 200px;
}


.search-input {
    border-radius: 20px; /* Makes the search bar pill-shaped */
    width: 400px; /* Adjust the length of the search bar */
    padding: 0.75rem 1.25rem; /* Adjust padding for better appearance */
    height: 40px;
}




.navbar .icon-button {
    background: none;
    border: none;
    padding: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.navbar .icon-button .nav-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 20px;
    transition: transform 0.2s ease-in-out;
}

.navbar .icon-button:hover .nav-icon {
    transform: scale(1.2);

}
