*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}



body{
    /* background-image: url('/static/images/backgrounds/dashboard-bg.jpg'); */
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
     
}

.navbar {
    margin: 0;
    padding: 0;
}

.nav-bg{
    background: rgb(124,193,255);
    background: linear-gradient(90deg, rgba(124,193,255,1) 0%, rgba(22,246,255,1) 100%);
    padding:0.5rem;
    margin:0px;
    
    
}
.navbar-toggler {
    background-image: url("/static/images/hamburger_menu.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 40px; 
    height: 40px; 
}


.logo-text{

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 700;
    color:black;
    margin-right: auto;
    text-decoration: none;
    color: inherit;

}

.logo-text:hover {
    color: inherit; /* Keep the same color on hover */
    text-decoration: none; /* Keep the underline removed on hover */
}


.floating-plus img {
    max-width: 100%;
    max-height: 100%;
}

.floating-plus:hover {
    transform: scale(1.2);
}

.navbar .icon-button {
    background: none;
    border: none;
    padding: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.navbar .icon-button .nav-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-left: 20px;
    transition: transform 0.2s ease-in-out;
}

.navbar .icon-button:hover .nav-icon {
    transform: scale(1.2);

}

.navbar .form-control {
    max-width: 200px;
}


/* External CSS for table styling */
.container {
    background-color: #fff; /* White container */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.table {
    border-collapse: collapse; /* Remove vertical lines between columns */
    width: 100%;
    margin-bottom: 1.5rem;
}

.table thead th {
    border-bottom: 2px solid #dee2e6; /* Add bottom border to the header */
    background-color: #f8f9fa;
}

.table tbody td {
    border-bottom: 1px solid #dee2e6; /* Add bottom border to rows */
}

.table tbody tr:hover {
    background-color: #f1f1f1; /* Row hover effect */
}

.table tbody tr td {
    border: none; /* Remove vertical lines */
}

.form-check-input {
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
}

.btn-success {
    border-radius: 20px;
}

.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}